.header{
    width: 100%;
    display: flex;
    background-color: #000000;
    display: none;
    h1{
        color: white;
    }
    mat-icon{
        color: white;
    }
}


@media screen and (max-width: 1000px) {
    .header{
        display:block;
    }

}