        mat-card {
            width: 100%;
            max-width: 900px;
            padding: 30px;
            border-radius: 14px;
        }


        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        mat-form-field {
            width: 100%;
        }

        ::ng-deep .ck-editor__editable {
            min-height: 350px;
        }


        .acciones {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        mat-card-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 20px;
        }