.content {
  width: 100%;
  display: flex;
  height: 100vh;
  background-color: rgb(241, 241, 241);


  .contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    overflow-y: auto;

  }

}