.track-card {
  max-width: 500px;
  margin: auto;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .full {
    width: 100%;
  }

  .upload-container {
    margin: 10px 0;
  }

  .preview {
    margin: 15px 0;
    display: flex;
    justify-content: center;

    img {
      max-height: 150px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}